.project-list {
    padding: 50px 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-list-texts {
    width: 65%;
}

.project-list-title {
    font-size: 50px;
    font-weight: 600;
}

.project-list-description {
    margin: 20px 0px;
}

.list {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}